
<div class="modal-window">
  <h3>Add user</h3>
  <form id="add-user-form">
    <p>Email - <input type="text" name="email"></p>
    <p>Password - <input type="text" name="password"></p>
    <input type="button" id="submitter" value="Create new Account">
  </form>

  <p id="confirm"></p>

</div>

<script src="/new-user.js" type="text/javascript"></script>