
  <form id="add-user-form">
    <button type="button" id="close">X</button>
    <h6>Add user</h6>
    <p>Email - <input type="text" name="email"></p>
    <p>Password - <input type="text" name="password"></p>
    <input type="button" id="submitter" value="Create new Account">
  </form>
  <p id="confirm"></p>

<script src="/new-user.js" type="text/javascript"></script>