body {
    background:#EDEDED;
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color:#2c3e50;
    font-size:16px;
}

header {
    background: #34495e;
    border-color: #2c3e50;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    height: 100%;
}

div.wrapper {
    position: relative;
    float: none;
    width:700px;
    margin:30px auto;
    border:1px solid silver;
    background: #ecf0f1;
    border-radius:0.3em;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    padding:20px;
}

h1#logo {
    color: #F2CE1D;
    width: 190px;
    margin: 20px;
    text-align: left;
}

h1#logo:hover {
    cursor: pointer;
}

#nav {
    top: 0;
    right: 0;
    position: absolute;
    margin: 20px;
}

nav {
    background: #2c3e50;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    border-bottom: 1px solid #34495e;
    padding: 10px 0;
    margin: 0;
    width: 100%;
}

nav a, nav a:visited {
    color: #f1c40f;
}

nav a {
    font-weight: 800;
    margin: 15px 10px;
}

a {
    text-decoration: none;
}

div{
    float: left;
}


button#nav {
    height: 39px;
    width: 64px;
    padding: 0px;
    background-image: url("/assets/menu.png");
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    float: left;
}


/***************************************************************************/

textarea{
    min-width: 100%;
    max-width: 100%;
}


h6 {
    text-align:center;
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
    color:#7f8c8d;
    border-bottom:1px solid silver;
    padding-bottom:10px;
    margin-bottom:10px;
}

form {
    width:500px;
    margin:30px auto;
    border:1px solid silver;
    background:white;

    border-radius:0.3em;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    padding:20px;
}

label {
    display:block;
    padding:15px 0 5px 0;
}

input[type=text],
input[type=password],
select{
    padding:3px;
    border:1px solid #7f9db9; /* Reseting border */
}

.btn-container label {
    display:inline-block;
    font-size: 14px;
    padding:5px 0;
}
div.btn-container {
    display: block;
    float: none;
    height: 100%;
}

.rounded {
    border-radius:30px;
    text-indent:3px;
}

.shadow {
    box-shadow:inset 0 0 5px rgba(0,0,0,0.3);
}

.shadow2 {
    box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);
}

.required:after {
    content:"*";
    display:inline-block;
    color:red;
    padding-left:10px;
}


form#add-user-form {
    display: none;
}

button#close {
    position: relative;
    float: right;
}


footer{
    position: relative;
    bottom: 0;
    text-align: center;
    margin: 10px auto;
}

p#confirm {
    display: none;
}




