<header>
    <h1 id="logo">PhotoBomb</h1>
    <button id="nav" type="button"></button>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/add-user-form">add a user</a></li>
        </ul>
      </nav>
</header>
<script src="/nav-toggle.js" type="text/javascript"></script>