<link rel="stylesheet" type="text/css" href="/login.css">

<div id="login">

  <form action="/login-validation">

    <input type="text" name="username" placeholder="Username"  required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Login">

  </form>

</div> <!-- end login -->


