<link rel="stylesheet" type="text/css" href="/login.css">

<div id="login">

  <form action="/login-validation" method="post">

    <input type="text" value="Username" placeholder="Username"  required>
    <input type="password" required value="Password" placeholder="Password">
    <input type="submit" value="Login">

  </form>

</div> <!-- end login -->


